
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Common */

strong,
.strong {
    font-weight: bold;
}

.center {
    text-align: center;
}


/* Shared classes */

.header {
    background: #F6F6F6;
    
    border-bottom: 1px solid #DCDCDC;
    height: 60px;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
}

.header .title {
    color: #71787F;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: 0 1px 1px #fff;
}


/* Structure */

html,
#wrap {
    background: #d8dae0;
    font: 16px normal Helvetica, sans-serif;
    -webkit-user-select: none;
}

#main {
    background: white;
    height: 100%;
    padding: 63px 20px 20px 320px;
    position: relative;
    vertical-align: top;
}

#main .header {
    padding-left: 155px;
    width: 100%;
}

#main .header .left,
#main .header .right {
   
  
    color: #3E94FA;
    
    font-size: 22px;
    left: 310px;
    position: fixed;
    top: 9px;
    padding: 5px 8px;
    text-decoration: none;
}

#main .header .title {}

#main .header .right {
    right: 10px;
    left: auto;
}

#main .content {}

#main .content>:first-child {
    margin-top: 0 !important;
}

#main .content .title {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 10px;
}

#main .content .title2 {
    color: #4C536C;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 10px;
}

#main .content .title3 {}

#main .content .title4 {}

#main .content .title5 {}

#main .content>p {
    color: #4C536C;
    margin: 10px 0;
    text-shadow: 0 1px 1px #ccc;
}

#main .content p.note {
    color: #4C536C;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 1px 1px #ccc;
}


/* Box white */

#main .content .box-white {
    background: #fff;
    border: 1px solid #B4B7BB;
    border-radius: 10px;
}

#main .content .box-white p {
    color: #000;
    border-bottom: 1px solid #B4B7BB;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

#main .content .box-white p:last-child {
    border-bottom: none;
}

#main .content .box-white p span {
    color: #4C556C;
    float: right;
    font-weight: normal;
}

#main .content .box-white p span.detail {
    color: #999;
    float: none;
    font-size: 12px;
    margin-left: 5px;
}

#main .content .box-white p span.arrow {
    color: #666;
    float: none;
    font-family: monospace;
    font-weight: bold;
    margin-left: 5px;
    text-shadow: 0 1px 1px #666;
}


/* Tables */

#main table {
    margin: 20px 0 10px;
    width: 100%;
}

#main table thead th {
    color: #848B9A;
    font-size: 90%;
    font-weight: normal;
    margin: 20px 0 10px;
    padding-bottom: 10px;
    text-align: left;
}

#main table thead th:first-child {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

#main table tbody {
    background: #fff;
    border: 1px solid #B4B7BB;
    border-radius: 10px;
    /* not working */
}

#main table tbody tr {
    border-bottom: 1px solid #B4B7BB;
}

#main table tbody tr:last-child {
    border-bottom: none;
}

#main table tbody tr td {
    color: #4C556C;
    padding: 10px 0;
}

#main table tbody tr td:first-child {
    color: #000;
    padding-left: 10px;
}

#main table tbody tr td:last-child {
    padding-right: 10px;
}


/* Dirty fix attempt for tbody border-radius */

#main table tbody {
    border-spacing: 0;
}

#main table tbody tr {
    border: 1px solid #B4B7BB;
    border-radius: 10px;
}

#main table tbody tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

#main table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

#main table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#main table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#main table tbody tr:last-child {
    border-bottom: 1px solid #B4B7BB;
}


/* Links */

a {
    color: #0085d5;
    text-decoration: none;
    -webkit-touch-callout: none;
}

#main .content .box-white p a,
#main .content table a {
    display: block;
    padding: 10px;
    margin: -10px;
}


/* Forms and buttons */

#main .content p label {
    width: 15%;
}


/* Labels not currently clickable without scripting */

#main .content p input[type=text],
#main .content p input[type=password],
#main .content p select {
    background: none;
    border: none;
    color: #4C556C;
    float: right;
    font-size: 14px;
    margin-top: -1px;
    width: 84%;
}

#main .content p select {
    margin-right: 15px;
}

#main .content .button {
    color: #fff;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    width: 100%;
}

#main .content .button.blue {
    background: #0086D1;
    
    border-color: #9A8185;
}
::-webkit-scrollbar {
    display: none;
}
#sidebar {
    background: #F9F9F9;
    border-right: 1px solid #DCDCDC;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    vertical-align: top;
    width: 300px;
    z-index: 1;
    min-height: 50px;
    overflow: scroll;
}

#sidebar .header {
    width: 300px;
    background: #F6F6F6;
}
#sidebar .header .left{
    color: #3E94FA;
    font-size: 16px;
    left: 10px;
    position: fixed;
    top: 9px;
    padding: 5px 8px;
    text-decoration: none;
}
#sidebar .header .right {

    color: #3E94FA;
    font-size: 22px;
    left: 240px;
    position: fixed;
    top: 9px;
    padding: 5px 8px;
    text-decoration: none;
}
#sidebar .header .title {}

#sidebar .content {
    padding: 43px 0 20px 0;
}

#sidebar .content .nav {
    margin-top: 20px;
    
}

#sidebar .content .nav a {
    background: #FFFFFF;
    border-top: 1px solid #E7EAED;
    border-bottom: 2px solid #D9D9D9;
    
    color: #000;
    display: block;
    font-weight: 20;
    height: 17px;
    padding: 12px 10px 16px 10px;
    text-decoration: none;
    margin-bottom:5px;
}
#sidebar .content .nav a.title-leccion {
    background: #F9F9F9F9;
    font-weight: 800;
    border-top: 3px solid #999999;
    color: #3E94FA;
 
}
#sidebar .content .nav a.active {
    background: #0375EE;
    /* Old browsers */
    background: -moz-linear-gradient(top, #058CF5 0%, #015DE6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #058CF5), color-stop(100%, #015DE6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #058CF5 0%, #015DE6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #058CF5 0%, #015DE6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #058CF5 0%, #015DE6 100%);
    /* IE10+ */
    background: linear-gradient(top, #058CF5 0%, #015DE6 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#058CF5', endColorstr='#015DE6', GradientType=0);
    /* IE6-9 */
    border-top: 1px solid #015DE6;
    color: #fff;
   
}

#sidebar .content .nav a span {
    color: #4C556C;
    float: right;
    font-weight: normal;
}

#sidebar .content .nav a.active span {
    color: #fff;
}

#sidebar .content .nav a .ico {
    background: #999;
    border-radius: 5px;
    display: inline-block;
    float: none;
    height: 28px;
    margin: -5px 10px 0 0;
    vertical-align: middle;
    width: 28px;
}

#sidebar .content .nav a .info {
    background: #E20000;
    border: 1px solid #C00;
    border-radius: 100%;
    box-shadow: 0 1px 1px #999;
    color: white;
    font-size: 12px;
    display: block;
    padding: 1px 5px;
}

#sidebar .content p {
    color: #4C536C;
    font-size: 14px;
    padding: 10px;
    text-shadow: 0 1px 1px #ccc;
}


/* All portable */

@media only screen and (max-device-width: 1024px) {
    #sidebar {
        overflow: scroll;
    }
    /* Sidebar is only scrollable in portable devices, you can change that */
}


/* iPhone */

@media only screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
    #main {
        padding-left: 20px;
    }
    #main .header {
        padding-left: 0;
    }
    #main .header .left {
        left: 10px;
    }
    #main .content p label {}
    #main .content p input[type=text],
    #main .content p input[type=password],
    #main .content p select {
        width: 60%;
    }
}
/*ESTILOS BUSCADOR */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes color-1 {
  0% {
    background-color: #EB73B9;
  }
  100% {
    background-color: #17EAD9;
  }
}
@keyframes color-1 {
  0% {
    background-color: #EB73B9;
  }
  100% {
    background-color: #17EAD9;
  }
}
::-moz-selection {
  background: #6078EA;
  color: white;
  text-shadow: none;
}
::selection {
  background: #6078EA;
  color: white;
  text-shadow: none;
}

::-webkit-selection {
  background: #6078EA;
  color: white;
  text-shadow: none;
}





.field-container {
  position: relative;
  padding: 0px;
  margin-top:10px;
  margin-left: 10px;
  border: 0;
  width: 240px;
  height: 40px;
  z-index: 0;
 
}
.field-container input{
    margin-top:8px;
    margin-bottom:5px;
    height:20px;
}

.icons-container {
  position: absolute;
  top: 11px;
  right: -25px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.icon-close {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75%;
  height: 75%;
  opacity: 0;
  cursor: pointer;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  border-radius: 50%;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-close:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 2px solid transparent;
  border-top-color: #6078EA;
  border-left-color: #6078EA;
  border-bottom-color: #6078EA;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.icon-close .x-up {
  position: relative;
  width: 100%;
  height: 50%;
}
.icon-close .x-up:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 3px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.icon-close .x-up:after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 0px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icon-close .x-down {
  position: relative;
  width: 100%;
  height: 50%;
}
.icon-close .x-down:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icon-close .x-down:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 1px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.is-type .icon-close:before {
  opacity: 1;
  -webkit-animation: spin 0.85s infinite;
          animation: spin 0.85s infinite;
}
.is-type .icon-close .x-up:before, .is-type .icon-close .x-up:after {
  -webkit-animation: color-1 0.85s infinite;
          animation: color-1 0.85s infinite;
}
.is-type .icon-close .x-up:after {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.is-type .icon-close .x-down:before, .is-type .icon-close .x-down:after {
  -webkit-animation: color-1 0.85s infinite;
          animation: color-1 0.85s infinite;
}
.is-type .icon-close .x-down:before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.is-type .icon-close .x-down:after {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.icon-search {
  position: relative;
  top: 5px;
  left: 8px;
  width: 30%;
  height: 30%;
  opacity: 1;
  border-radius: 50%;
  border: 3px solid #c7d0f8;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-search:after {
  content: "";
  position: absolute;
  bottom: -9px;
  right: -2px;
  width: 4px;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 10px;
  background-color: #c7d0f8;
}

.field {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.field:focus {
  outline: none;
  box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}
.field:focus + .icons-container .icon-close {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.field:focus + .icons-container .icon-search {
  opacity: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
/*ESTILOS SPINNER*/
.sk-chase {
    width: 80px;
    height: 80px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
    margin-left: 0px;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #000080;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }
  /*ESTILOS SPINNER*/